@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import "./variable.scss";
  @import "./mixin.scss";

  header {
    padding: 15vh 0 0 0;
    background-color: #000;

    h1 {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 0.9rem;
      color: #000;
      -webkit-text-stroke: 1px white;
      text-stroke: 1px white;
    }
    p {
      font-size: $headerP-fs;
      font-family: "Work Sans", sans-serif;
    }
    .header_bottom-container {
      display: flex;
      gap: 20vw;
      margin-top: 10vh;
      button {
        @include button-style;
      }
      img {
        display: none;
      }
    }
  }

  main {
    .page1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #000;
      padding: 0 10vw;

      .page1__main-contain {
        font-size: 1.2rem;
        color: $fc;
        padding-bottom: 2vh;
        width: 60vw;
      }
      .map-image {
        display: none;
      }

      article {
        .info-desc {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          padding: 0 0 10vh 0;

          div {
            width: 30vw;
            p {
              font-size: $headerP-fs;
              font-family: "Work Sans", sans-serif;
            }
            h3 {
              color: $fc;
              font-size: 1rem;
            }
          }
        }
      }
    }

    .page2 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: none;
      padding-bottom: 3vh;

      .page2__article1 {
        width: 70vw;
        padding: 5vh 0 2vh 0;
        h2 {
          font-size: 1.2rem;
          font-weight: 100;
          letter-spacing: 0;
        }
        p {
          font-size: $headerP-fs;
          line-height: 10px;
        }
      }
      .page2__article2 {
        padding: 0 0 50vh 0;
        width: 70vw;
        p {
          font-size: $headerP-fs;
          line-height: 10px;
        }
      }
      .page2__image-container {
        .page2__image1 {
          width: $p2_is;
          position: none;
          right: 10vw;
          top: 27vh;
        }
        .page2__image2 {
          width: $p2_is;
          position: none;
          left: 10vw;
          top: 27vh;
        }
        .page2__image3 {
          width: $p2_is;
          position: none;
          right: 40vw;
          top: 27vh;
        }
        .page2__image4 {
          width: $p2_is;
          position: none;
          left: 10vw;
          top: 37vh;
        }
        .page2__image5 {
          width: $p2_is;
          position: none;
          right: 40vw;
          top: 37vh;
        }
        .page2__image6 {
          width: $p2_is;
          position: none;
          left: 70vw;
          top: 37vh;
        }
        .page2__image7 {
          width: 50vw;
          position: none;
          left: 25vw;
          top: 50vh;
        }
      }
    }
  }

  .page3 {
    padding: 0 0 40vh 0;

    .page3__top-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10vh 0 0 0;
      width: 70vw;

      .page3__article1 {
        p {
          font-size: $headerP-fs;
          margin-bottom: 2vh;
        }
        h3 {
          display: block;
          width: 40vw;
          margin-bottom: 2vh;
          font-size: 1.2rem;
        }
        h2 {
          display: none;
        }
      }
      .page3__article2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        p {
          margin-left: 25vw;
          font-size: 0.8rem;
          margin-bottom: 2vh;
          width: 70vw;
        }
      }
    }
    .page3__image-section {
      position: relative;
      .gb1 {
        width: 50vw;
        top: 6vh;
        left: 15vw;
        position: absolute;
      }
      .gb2 {
        width: 20vw;
        position: absolute;
        right: 25vw;
        top: 16vh;
        z-index: 1;
      }
    }
  }

  .page4 {
    background-color: #fff;
    color: #fff;

    .page4__top-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10vh 0 35vh 0;
      color: #000;

      h3 {
        display: block;
        width: 40vw;
        margin-left: -9vw;
        font-size: 1.2rem;
      }
      .circle-image {
        display: none;
      }
      .page4__article1 {
        width: 20vw;
        p {
          font-size: 0.4rem;
          margin-bottom: 2vh;
        }
        h2 {
          display: none;
        }
      }
      .page4__article2 {
        width: 80vw;
        p {
          font-size: 0.8rem;
          margin-bottom: 2vh;
          width: 70vw;
        }
        h1 {
          font-size: 3rem;
        }
      }
    }
    .page4__image-section {
      position: relative;

      .pb1 {
        width: 30vw;
        left: 10vw;
        bottom: 4vh;
        position: absolute;
        z-index: 2;
      }
      .pb2 {
        width: 50vw;
        right: 20vw;
        bottom: 5vh;
        position: absolute;
        z-index: 1;
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 10vh 5vw;
    position: relative;

    .left-box {
      display: flex;
      flex-direction: column;
      width: 60vw;
      h5 {
        font-size: 0.8rem;
        margin-bottom: 2vh;
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 3vh;
      }
      button {
        @include button-style;
      }
      img {
        width: 20px;
        height: 20px;
        margin-right: 2rem;
        margin-bottom: 2vh;
      }
      .left-box__bottom-p {
        font-size: 0.9rem;
      }
    }
    .right-box {
      display: none;

      .footer__image-box {
        display: none;
      }
    }
  }
}
