@mixin button-style {
  width: 7vw;
  padding: 12px;
  margin-bottom: 10vh;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;

  @media only screen and (max-width: 600px) {
    width: 10vw;
    padding: 5px 10px;
    font-size: 0.5rem;
    background-color: red;
    color: #fff;
    border: 1px solid #fff;
  }
}
