* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./variable.scss";
@import "./mixin.scss";

body {
  font-size: 10px;
  font-family: "Lora", serif;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 15vh;
  background-color: #000;

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
    color: #000;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
  }
  p {
    font-size: $headerP-fs;
    font-family: "Work Sans", sans-serif;
  }
  .header_bottom-container {
    display: flex;
    align-items: center;
    gap: 70vw;
    margin-top: 10vh;
    button {
      @include button-style;
    }
  }
}

main {
  .page1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 10vw 22vh 10vw;
    background-color: #000;
    position: relative;

    .page1__main-contain {
      font-size: 5rem;
      color: $fc;
      padding-bottom: 10vh;
      width: 60vw;
    }
    .map-image {
      width: 35vw;
      position: absolute;
      right: 5vw;
      top: 50vh;
    }
    article {
      .info-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        margin-top: 10vh;
        padding: 0 0 15vh 0;
        p {
          color: $fc;
          font-size: $headerP-fs;
          font-family: "Work Sans", sans-serif;
          width: 60vw;
        }
        h3 {
          color: $fc;
          font-size: 2rem;
        }
      }
    }
  }

  .page2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .page2__article1 {
      width: 27vw;
      padding: 45vh 0;
      h2 {
        font-size: 5rem;
        font-weight: 100;
        letter-spacing: 1px;
      }
      p {
        font-size: $headerP-fs;
        line-height: 30px;
      }
    }
    .page2__article2 {
      padding: 60vh 0 40vh 0;
      width: 27vw;
      p {
        font-size: $headerP-fs;
        line-height: 30px;
      }
    }
    .page2__image-container {
      position: relative;
      width: 100%;

      .page2__image1 {
        width: $p2_is;
        position: absolute;
        right: 10vw;
        top: -16vh;
      }
      .page2__image2 {
        width: $p2_is;
        position: absolute;
        left: 2vw;
        top: 20vh;
      }
      .page2__image3 {
        width: $p2_is;
        position: absolute;
        right: 0;
        top: 60vh;
      }
      .page2__image4 {
        width: $p2_is;
        position: absolute;
        left: 10vw;
        top: 120vh;
      }
      .page2__image5 {
        width: $p2_is;
        position: absolute;
        right: 10vw;
        top: 130vh;
      }
      .page2__image6 {
        width: $p2_is;
        position: absolute;
        left: 0;
        top: 180vh;
      }
      .page2__image7 {
        width: 40vw;
        position: absolute;
        right: 15vw;
        top: 215vh;
        z-index: 1;
      }
    }
  }
}

.page3 {
  background-color: #000;
  color: #fff;
  padding: 0 0 80vh 0;

  .page3__top-side {
    display: flex;
    justify-content: space-evenly;
    padding: 30vh 0 20vh 0;
    .page3__article1 {
      width: 20vw;
      h3 {
        display: none;
      }
      p {
        font-size: $headerP-fs;
        margin-bottom: 2vh;
      }
      h2 {
        font-size: 4rem;
        letter-spacing: 1px;
        font-weight: 500;
      }
    }
    .page3__article2 {
      width: 20vw;
      p {
        font-size: 1.5rem;
        margin-bottom: 2vh;
      }
    }
  }
  .page3__image-section {
    position: relative;
    .gb1 {
      width: 60vw;
      padding-left: 10vw;
      position: absolute;
    }
    .gb2 {
      width: 30vw;
      position: absolute;
      right: 15vw;
      top: 13vh;
      z-index: 1;
    }
  }
}

.page4 {
  background-color: #fff;
  color: #fff;

  .page4__top-side {
    display: flex;
    justify-content: space-evenly;
    padding: 30vh 0 130vh 0;
    color: #000;
    position: relative;
    overflow: hidden;

    h2 {
      font-size: 4rem;
      letter-spacing: 1px;
      font-weight: 500;
    }
    h3 {
      display: none;
    }

    .circle-image {
      width: 30vw;
      position: absolute;
      right: -9vw;
      top: -16vh;
      z-index: 0;
    }
    

    .page4__article1 {
      width: 20vw;
      p {
        font-size: $headerP-fs;
        margin-bottom: 2vh;
      }
      h1 {
        font-size: 4rem;
      }
    }
    .page4__article2 {
      width: 20vw;
      p {
        font-size: 1.5rem;
        margin-bottom: 2vh;
      }
      h1 {
        font-size: 3rem;
      }
    }
  }
  .page4__image-section {
    position: relative;

    .pb1 {
      width: 30vw;
      left: 10vw;
      bottom: 40vh;
      position: absolute;
      z-index: 2;
    }
    .pb2 {
      width: 55vw;
      right: 10vw;
      bottom: 25vh;
      position: absolute;
      z-index: 1;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 10vh 5vw;
  position: relative;

  .left-box {
    display: flex;
    flex-direction: column;
    width: 30vw;
    h5 {
      font-size: 0.8rem;
      margin-bottom: 2vh;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 3vh;
    }
    button {
      @include button-style;
    }
    img {
      width: 30px;
      height: 30px;
      margin-right: 2vw;
      margin-bottom: 2vh;
    }
    .left-box__bottom-p {
      font-size: 0.9rem;
    }
  }
  .right-box {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    height: 60vh;
    width: 30vw;

    .footer__image-box {
      position: absolute;
      right: 5vw;
      bottom: 3vh;
      img {
        width: 6vw;
        height: 4vh;
      }
    }
    .white-line {
      position: absolute;
      padding: 5px;
      top: 23vh;
      right: -24vw;
      background-color: #fff;
      color: #000;
      font-size: 2.9rem;
      width: 67vw;
      transform: rotate(45deg);

      span {
        color: #000;
      }
      p {
        animation: fadeOutLeft;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        color: #fff;
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
      }
    }
  }
}
@import "./media-600px.scss";
